@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap);

:root {
    --color-font: hsla(0, 0%, 100%);
    --color-bg: hsl(257, 40%, 49%);
    --color-hover: hsl(300, 69%, 71%);
    --color-atribution:hsl(0, 0%, 80%);
}

/* === GENERAL === */
html { box-sizing: border-box; }
*, *:before, *:after { 
    padding: 0;
    margin: 0;
    box-sizing: inherit; 
}

html, body {
    font-size: 100%;
    font-weight: 400;
    color: var(--color-font);
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 430px;
    height: 930px;

    padding: 2.5rem;

    background: url(../img/bg-mobile.svg) var(--color-bg) no-repeat;
    background-size: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: center;

    margin: 4.5rem 0 1.5rem 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;

    margin-bottom: 1rem;
}

/* === HEADER === */
header {
    height: 22.5rem;
}

.fig-logo img {
    width: auto;
    height: 1.8rem;
}

.mockup {
    margin-top: 4.5rem ;
}

.mockup img {
    width: auto;
    height: 15.5rem;
}

/* === BUTTON REGISTER === */
.btn {
    display: flex;
    justify-content: center;

    margin: 3rem 0 3.75rem 0;
}

.btn a {
    display: block;
    width: 14.5rem;
    height: 3rem;
    padding: .75rem 0;

    text-align: center;
    text-decoration: none;
    color: var(--color-bg);

    background: white;
    border-radius: 1.5rem;
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.575);
}

.btn a:hover,
.btn a:active {
    background: var(--color-hover);
    color: white;
}

/* === PRE-FOOTER === */
.pre-footer {
    margin-bottom: 2.5rem;
    text-align: center;
}

li {
    width: 2rem;
    height: 2rem;
    margin: .2rem;
    border-radius: 50%;
    border: .1rem solid white;

    text-align: center;

    display: inline-block;
    list-style: none;
}

li:hover,
li:active {
    border: .1rem solid var(--color-hover);
}

li a {
    color: white;
    padding-top: .5rem;
    text-decoration: none;
}

li a:hover,
li a:active {
    color: var(--color-hover);
}

/* === FOOTER === */
.attribution { font-size: 8px; text-align: center; color: var(--color-atribution)}
.attribution a { color: var(--color-atribution); }
