@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;&display=swap);

:root {
    --color-font: hsla(0, 0%, 100%, 0.75);
    --color-bg-main: hsl(233, 47%, 7%);
    --color-bg-card: hsl(244, 38%, 16%);
    --color-span: hsl(277, 64%, 61%);
    --color-heading: hsl(0, 0%, 100%);
    --color-stat-heading: hsl(0, 0%, 100%, 0.6);
    --color-atribution:hsl(0, 0%, 80%);

    --ff: 'Lexend Deca', sans-serif;
}

/* * {outline: 1px dotted rgb(153, 51, 144);} */

/* === GENERAL === */
html { box-sizing: border-box; }
*, *:before, *:after { 
    padding: 0;
    margin: 0;
    box-sizing: inherit; 
}

html, body {
    font-size: 100%;
    font-weight: 400;
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
}

body {
    height: 100%;
    background-color: var(--color-bg-main);

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 370px;
    height: 900px;
    margin-top: 1rem;
    background: var(--color-bg-card);

    position: relative;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--color-heading);
    text-align: center;

    margin: 20px 0 ;
}

span {
    color: var(--color-span);
}

p {
    font-size: 1.1rem;
    line-height: 1.7;
    text-align: center;

    margin-bottom: 3rem;
}

/* === HEADER === */
header {
    height: 240px;
    position: relative;
    border-radius: .3rem .3rem 0 0;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.header-img {
    width: 370px;
    height: 300px;
    background: url(../img/image-header-mobile.jpg) no-repeat;
    background-size: contain;
}

/* === overlay === */
header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    background: var(--color-span);
    opacity: .5;
}

/* === ARTICLE === */
article {
    padding: 1.25rem 1.875rem;
}

/* === PRE-FOOTER === */
.pre-footer {
    padding: 0;
    margin: 1.5rem 0;
}

ul {
    list-style-type: none;
    margin-top: 1.5rem;
    padding: 0;
    text-align: center;
    line-height: 1.8rem;
    text-transform: uppercase;
}

li {
    margin: 1rem 0;
    font-size: .8rem;
    letter-spacing: .1rem;
}

li > span {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-heading);
}

ul li:first-child > span {
    text-transform: lowercase;
}

/* === FOOTER === */
main > footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

main > footer > p {
    margin: 0;
}
.attribution { font-size: 8px; text-align: center; color: var(--color-atribution)}
.attribution a { color: var(--color-atribution); }
